/*
 * Base structure
 */

html,
body {
  padding-top: 70px;
  background-color: #333;
  text-align: center;
  text-shadow: 0 1px 3px rgba(0,0,0,.5);
}

pre {
  text-align: left;
}

.chart {
  margin: 10px 20px;
}

.btn.disabled, .btn[disabled], fieldset[disabled] .btn {
    cursor: wait;
}
