{% extends "base.jinja2" %}

{% block title %}About{% endblock %}

{% block content %}
            <h1 class="cover-heading">About opus20</h1>
            <p class="lead">
              Environmental Monitoring with OPUS20
            </p>
            <p>Version: v{{opus20_version}}</p>
            <p style="width: 23em; margin-left: auto; margin-right: auto;">
              The Python package opus20 allows for easy environmental monitoring using the OPUS20 logger by Lufft.
              It was written by <a href="mailto:klaus@physik.uni-frankfurt.de">Philipp Klaus</a> for use in the clean room laboratory of the <a href="https://www.uni-frankfurt.de/51839189/X-treme-Matter-Group">X-Matter Group</a> at the University of Frankfurt.
            </p>
            <!--<p class="lead">
              <a href="#" class="btn btn-lg btn-default">Learn more</a>
            </p>-->
{% endblock %}
