<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">

    <title>{% block title %}{% endblock %} - opus20</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

    <!-- Custom styles for this template -->
    <link href="/static/css/style.css" rel="stylesheet">

    <script type="text/javascript">
          {% block globals %}{% endblock %}
    </script>
  </head>

  <body>

    <div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

          <div class="masthead clearfix">
            <div class="inner">
              <h3 class="masthead-brand">opus20</h3>
              <nav>
                <ul class="nav masthead-nav">
                  <li class="{{'active' if active == 'home'}}"><a href="/">Home</a></li>
                  <li class="{{'active' if active == 'plot'}}"><a href="/plot">Plot</a></li>
                  <li class="{{'active' if active == 'debug'}}"><a href="/debug">Debug</a></li>
                </ul>
              </nav>
            </div>
          </div>

          <div class="inner cover">

          {% block content %}{% endblock %}

          </div>

          <div class="mastfoot">
            <div class="inner">
              <p>This website is provided by <a href="http://github.com/pklaus/opus20">opus20</a>.</p>
            </div>
          </div>

        </div>

      </div>

    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="/static/js/script.js"></script>
    <!-- Placed at the end of the document so the pages load faster -->
  </body>
</html>

