{% extends "base.jinja2" %}

{% block title %}Debug{% endblock %}

{% block content %}
            <h1 class="cover-heading">Debugging Information</h1>
            <p class="lead">
              <pre><code>{{ debug_dict | pprint }}</code></pre>
            </p>
{% endblock %}
