{% extends "base.jinja2" %}

{% block title %}Status{% endblock %}

{% block content %}
            <h1 class="cover-heading">Current Status</h1>
            <p class="lead">
              <div>Device ID:         {{ current_values.device_id                 }}</div>
              <div>Temperature:       {{ current_values.temperature       | round }} °C</div>
              <div>Dewpoint:          {{ current_values.dewpoint          | round }} °C</div>
              <div>Relative Humidity: {{ current_values.relative_humidity | round }} %</div>
              <div>Absolute Humidity: {{ current_values.absolute_humidity | round }} g/m³</div>
              <div>Battery Voltage:   {{ current_values.battery_voltage   | round }} V</div>
              <br />
              <div>Date &amp; Time of this information: {{ current_values.ts.isoformat().replace('T', ' - ') }}</div>
            </p>
            <!--<p class="lead">
              <a href="#" class="btn btn-lg btn-default">Learn more</a>
            </p>-->
{% endblock %}
