{% extends "base.jinja2" %}

{% block title %}Plot{% endblock %}

{% block javascript %}

var device_id = "{{ device_id }}";

$(function(){
  $('#fetchData').on('click', function(){
    var $btn = $(this);
    $btn.prop('disabled', true);
    var $text = $btn[0].textContent;
    $btn.prop('textContent', "Loading...");
    $.ajax({
      url: "/download/" + device_id,
      type: 'get',
      success: function (response) {
        //console.log('response received');
        $btn.prop('disabled', false);
        $btn.prop('textContent', $text);
        location.reload()
      }, error: function (response) {
        console.log('ajax request to fetch data failed');
        alert('ajax request to fetch data failed');
        $btn.prop('disabled', false);
        $btn.prop('textContent', $text);
      },
    });
  });
});


{% endblock %}

{% block content %}
            <h1 class="cover-heading">Plots of the Environment Values</h1> <br />
            <p class="lead">
              <!-- <img src="/plot/{{ device_id }}_history.png?figsize=10,7&measures=temperature,relative humidity&right=humidity" /> -->
              <img src="/plot/{{ device_id }}_history.png?figsize=10,7&measures=temperature&color=blue" />
            </p>
            <p class="lead">
              <img src="/plot/{{ device_id }}_history.png?figsize=10,7&measures=relative humidity&right=-&ylabel=humidity [%25]&color=magenta" />
            </p>
            <p class="lead">
              <button id="fetchData" class="btn btn-lg btn-default" type="button">Fetch New Data</button>
            </p>
{% endblock %}
